[Unit]
Description=rclone: Regular bisync-ing between local and cloud storage
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.config/eli/rclone_bisync.sh
