[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "xorg/urxvt-ext/urxvt-perls"]
	path = xorg/urxvt-ext/urxvt-perls
	url = git@github.com:muennich/urxvt-perls.git
