[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --age 24 --fastest 20 --score 20 --number 10 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
